/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

p {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.espacio {
    padding: 20px;
}

/* Estilos del encabezado */
.header {
    background-color: #e91e63;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header__title {
    font-size: 32px;
    margin-bottom: 10px;
}

.header__logo {
    display: block; /* Para que la imagen se muestre como un bloque */
    max-width: 100%; /* Para que la imagen no se salga de su contenedor */
    height: auto; /* Para mantener la proporción de aspecto de la imagen */
    margin: 0 auto; /* Para centrar la imagen horizontalmente */
}

.header__nav {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.header__nav ul {
    padding: 0;
    list-style-type: none;
}

.header__nav li {
    display: inline;
    float: center;
    padding: 5px;
    background: #E54B22;
    margin-left: 1px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header__nav li:hover {
    background-color: #fff4c8;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header__nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header__nav a:hover {
    color: #E54B22;
}

header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; 
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
}

header__nav-item {
    display: inline;
    float: center;
    padding: auto;
    width: auto;
    height: auto;
    margin-top: auto;
    background: #E54B22;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
}

/* Estilos del contenido principal */
.main {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__title {
    font-size: 24px;
    color: #e91e63;
    margin-bottom: 20px;
}

.article__title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.article__image {
    display: block;
    margin: 0 auto; /* Para centrar la imagen horizontalmente */
    max-width: 100%; /* Para asegurar que la imagen no se salga del contenedor */
    height: auto; /* Para mantener la proporción de aspecto */
    width: 60%; /* Tamaño mediano */
}

.article__content {
    margin-bottom: 20px;
    align-content: center;
}

.article__footer a {
    color: #e91e63;
    text-decoration: none;
}

.aside__title {
    font-size: 20px;
    color: #e91e63;
    margin-bottom: 10px;
}

.aside__map {
    flex-wrap: wrap;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}



/* Estilos de la galería de imágenes */
.monumentos {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.monumentos__title {
    font-size: 24px;
    color: #e91e63;
    text-align: center;
    margin-bottom: 20px;
}

.monumentos__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.monumentos__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__image {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Estilos del pie de página */
.footer {
    background-color: #e91e63;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    margin-top: 45%;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer__logo {
    width: 40px;
    height: 40px;
    padding: 0 10px;
}

.footer-v2-marquee__grid { /* Este es el elemento principal del marco de páginas */
    display: grid;
    grid-auto-columns: -webkit-min-content;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transform: translateX(var(--grid-x-offset, 0));
    -ms-transform: translateX(var(--grid-x-offset, 0));
    transform: translateX(var(--grid-x-offset, 0));
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
    gap: var(--grid-gap)
}

.footer-v2-marquee-item { /* Este es el elemento que contiene la imagen etiqueta "<a>" */
    --item-media-width: 200px;
    --item-media-height: 150px;
    position: relative;
    -webkit-transform: perspective(300px) translate3d(0, 0, 0);
    transform: perspective(300px) translate3d(0, 0, 0);
    color: #fff
}


/* Estilos de la sección de contacto */
.contact-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-section__title {
    font-size: 24px;
    color: #E54B22;
    text-align: center;
    margin-bottom: 20px;
}

.contact-section__description {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form__label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form__input,
.contact-form__textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.contact-form__button {
    background-color: #E54B22;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form__button:hover {
    background-color: #d0451b;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}